/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para o formulário */
h1 {
    color: #007BFF; /* Azul */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px; 
}

button[type="submit"] {
    background-color: #007BFF; /* Azul */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

/* Estilos para a área de mensagem */
#mensagem {
    margin-top: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

/* Estilo para o título "Adicionar Localidade" */
.titulo {
    background-color: #007BFF; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branca */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilos para botões de CRUD */
.crud-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.crud-button:hover {
  background-color: #0056b3;
}

/* Estilos para formulário de adição de localidades */
.crud-form {
  margin-top: 20px;
}

.crud-form input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-right: 10px;
}

/* Estilos para mensagens de sucesso e erro */
.crud-success-message {
  color: green;
  font-weight: bold;
}

.crud-error-message {
  color: red;
  font-weight: bold;
}
