body {
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #242424;
}

.container {
  margin: 20px;
  background-color: #444444;
  border: 1px solid #000000;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.funcionarios-list {
  overflow-y: auto;
  height: 70vh;
  width: 80vh;
  padding-left: 20px;
  padding-right: 20px;
}

.funcionario-card {
  background-color: #1d1d1d;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.funcionario-card h2 {
  margin: 0;
}

.add-button,
.list-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #0056b3;
}

.edit-button,
.delete-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}

.button__back {
  background-color: #2b3136;
  border: 1px solid #657079;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.button__back:hover {
  background-color: #007bff;
}